.header {
    min-height: 99px;
    border-bottom: 1px solid $borderColor;

    .container {
        display: flex;
        min-height: inherit;

        @media(max-width: 872px) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}

.logo {
    background: $imgLogoPng;
    display: flex;
    align-items: center;
    width: 164px;
    min-height: inherit;

    @media(max-width: 872px) {
        height: 51px;
        margin: 15px 0;
        justify-content: center;
    }

    a {
        font-size: 27px;
        line-height: 32px;
        font-weight: 300;
        margin-left: 60px;
        letter-spacing: 0.68px;
    }

    span {
        font-weight: 900;
        color: $themePageColor;
    }
}

.header_browseSearch {
    margin-left: 37px;
    display: flex;
    align-items: center;

    @media(max-width: 872px) {
        margin-left: initial;
        margin-bottom: 15px;
    }

    form {
        height: 36px;
        display: flex;
        align-items: center;
        border-radius: 3px;
        border: 1px solid $borderColor;
        overflow: hidden;

        @media(max-width: 410px) {
            width: 300px;
        }
    }

    .browse {
        margin: 0;
        display: block;
        width: 86px;
        height: inherit;
        text-align: center;
        border-right: 1px solid $borderColor;
        background-color: #f8f8f8;
        color: $textColorMain;
        font-weight: 300;
        line-height: 35px;
        letter-spacing: 0.35px;
    }

    .searchtop {
        width: 264px;
        height: inherit;
        padding-left: 16px;
        border: none;
        outline: none;
        font-size: 13px;
        font-weight: 300;
        line-height: 34px;
        letter-spacing: 0.35px;
        background: none;

        @media(max-width: 410px) {
            width: 180px;
        }

        &:focus {
            background-color: $borderColor;
        }
    }

    .buttopSearchTop {
        width: 36px;
        background: none;
        border: none;
        border-left: 1px solid $borderColor;
        height: inherit;
        color: gray;
        outline: none;

        &:hover {
            background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(235, 235, 235, 1) 100%);
        }

        &:active {
            color: $themePageColor;
        }
    }
}
.header_LOG_REG{
    margin-left: 20px;
    display: flex;
    align-items: end;

    a{
        font-size: 16px;
        color: $colorTextGray;
        &:not(:last-child){
            margin-right: 20px;
        }
    }
}
.header_Cart_Account {

    display: flex;
    align-items: center;
    margin-left: auto;

    @media(max-width: 872px) {
        margin-left: initial;
        margin-bottom: 15px;
    }

    .button-toAdmin{
        margin-right: 20px;

        img {
            height: 30px;
            width: 30px;
        }
    }
    .cart {
        display: flex;
        position: relative;

        a {
            display: block;

            img {
                margin-right: 10px;
            }
        }

        span {
            position: absolute;
            display: block;
            height: 22px;
            min-width: 22px;
            border-radius: 12px;
            padding: 2px 4px;
            color: white;
            background-color: $themePageColor;
            text-align: center;
            font-size: 14px;
            line-height: 14px;
            border: 2px solid rgb(60 60 60 / 87%);
            top: -5px;
            right: -10px;
        }

        ul {
            list-style-type: none;
            position: absolute;
            right: 2px;
            top: 69px;

            li {
                text-align: center;
                line-height: 29px;
                height: 32px;
                width: 126px;
                font-size: 14px;
                font-weight: 600;
                background-color: white;
                cursor: pointer;
                border: 1px solid rgba(180, 180, 180, 0.47);
                transition: background-color 0.2s;
            }
            li:hover {
                background-color: $themePageColor;
                color: white;
            }
            li:active {
                color: white;
                background-color: #6c757d;
            }
            li:not(:first-child) {
                border-top: none;
            }

        }

        button {
            margin-left: 20px;
            text-align: center;
            width: 130px;
            height: 38px;
            background-color: $themePageColor;
            line-height: 38px;
            border-radius: 3px;
            outline: none;
            border: none;

            font-size: 15px;
            letter-spacing: 0.38px;
            color: white;

            &:active {
                background: linear-gradient(180deg, rgba(201, 100, 115, 1) 0%, rgba(241, 109, 127, 1) 100%);
            }

            i {
                margin-left: 8px;
            }
        }
    }
}
