$mainFont: 'Lato', sans-serif;
$secondFont: 'Open Sans', sans-serif;
$borderColor: #e6e6e6;
$borderColor2: #eaeaea;
$textColorMain: #222222;
$themePageColor: #f16d7f;
$colorTextGray: #6f6e6e;
$inactiveButtonsColor: #cdcdcd;

//backgrounds
//url refs

$imgLogoPng: url(../../storage/app/public/img/logo.png) center left no-repeat;
$mainPrewUrl: url(../../storage/app/public/img/topHeaderBack.png);
$reviewSubscribeUrl: url(../../storage/app/public/img/subscribe.jpg);
$offerPrewImgUrl: url(../../storage/app/public/img/offerForWomen.jpg) no-repeat top left;

$arrowSelect: url(../../storage/app/public/img/arrowForSelect.png) no-repeat;

$offer1: url(../../storage/app/public/img/offer1.jpg) no-repeat top center;
$offer2: url(../../storage/app/public/img/offer2.jpg) no-repeat top center;
$offer3: url(../../storage/app/public/img/offer3.jpg) no-repeat top center;
$offer4: url(../../storage/app/public/img/offer4.jpg) no-repeat top center;
